# Ignora dipendenze e ambienti di terze parti
panda3d/
ros2_vision_ws/
metadrive/metadrive/
metadrive/bridges/ros_bridge/models/tqc_metadrive_multimodal.zip

# Ignora build ROS2 o CMake
robotic_project/build/
robotic_project/install/

# File temporanei Python
__pycache__/
*.pyc
*.pyo

# Log, cache, ecc.
*.log
*.DS_Store
